{% extends "BaseNavbar.html" %}
{% block main %}
<div class="row m-0 p-0">
    <div class="col-lg-2 m-0 p-2">
        <div class="p-3 m-0 rounded iplm">
            <div class="font-weight-bold"><p> <a href="/{{ cid }}">{{ campaign }}</a></p></div>
            <p><a href="/{{ cid }}/implant/create">Create Implant</a></p>
            <p><a href="/{{ cid }}/implant/stagers">Stagers</a></p>
            <p><a href="/{{ cid }}/implant/active">Active Implant Details</a></p>
            <p><a href="/{{ cid }}/logs">Implant Logs</a></p>
            <p><a href="/{{ cid }}/graphs">Graphs</a></p>
            <p><a href="/{{ cid }}/settings">Campaign Settings</a></p>
            <p><a href="javascript:export_campaign({{ cid }})">Export Campaign</a></p>
        </div>
    </div>
    <div class="col-lg-10 m-0 pl-0 p-2 ">
        <div class="p-3 m-0 rounded iplm">
            {% if Msg %}<div class="text-danger font-weight-bold">{{ Msg }}</div> {% endif %}
            {%  block main2 %}{% endblock %}
        </div>
    </div>
</div>
<!-- Export campaign modal-->
<div class="modal fade" id="FormSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="FormSubmissionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FormModalTitle">Download encrypted campaign data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-result">aaa</div>
          The password decrypt the campaign data is:
        <div id="modal-password"></div>
      </div>
      <div class="modal-footer">
          <form name="download" action="/1/export_campaign" method="get" >
              <input hidden id="filename_input" type="text" name="download" value="">
              <button type="submit" class="btn" >Download</button>
          </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End export modal-->
{% endblock %}