{% extends "HeaderTemplate.html" %}
{% block NavbarBlock %}
<body id="LoginForm">
<script src="{{ url_for('static', filename='particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}" defer></script>
<div class="container">
<div id="particles-js"></div>
<div class="login-form form-rounded">
<div class="main-div">
    <div class="mt-1"><img src="/static/fudge.png" class="mb-4" height="200px" alt="Responsive image"></div>
    <div class="panel">
   <h2>FudgeC2</h2>
   <p>Please enter your credentials</p>
   </div>
    <form id="Login" method="POST" action="login">
        <div class="form-group">
            <input type="text" autocomplete="username" class="form-control" id="inputEmail" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" autocomplete="current-password" class="form-control" name="password" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" id="btn2">Login</button>
        {% if error %} <div class="text-danger font-weight-bold"><br><p>{{ error }}</p></div>{% endif %}
    </form>
    <div class="text-muted mt-4 "><br><p>Version 0.4.3 (Tauren Herbalist)</p></div>
    </div>
</div></div>
</body>

{% endblock %}